.footer {
    position: fixed;
    width:100%;
    left:0;
     bottom:0;
     background-color: #333;
     padding: 30px;
     font-size: 20px;
     text-align:center;
     max-height: 30px;
   
   
   }
   
   .footer-icon{
     border-radius:50%;
     width:40px;
     height:40px;
     margin:0;
   }
   
   .bookish{
    color:white;
    margin:0;
    font-size:15px;
   }
   .icon{
   margin-bottom:20px;
     position:absolute;
     top: 0; bottom: 0; left: 0; right: 0;
     margin: auto;
     background: #333;
   
   }